VITE_SUPABASE_URL=https://gsfejyokuxccpjghlfzb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdzZmVqeW9rdXhjY3BqZ2hsZnpiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM0MTU4NTIsImV4cCI6MjA5ODk5MTg1Mn0.GorV-IyPtIrcJrOtIi5OQIK9wviKHKNwYX8Iz0y0cA8
